{%load static%}
<html>
    <head>
        <title>
            Home
        </title>
        <link rel="stylesheet"  href="{% static "Aula1.css"%}" />
    </head>

    <!--Meu tema Escolhido Foi Digimon, por causa do Jogo Digimon Wolrd 1, do Play1-->
    
    <body>
        <main class="main"></main>
        <nav>
            <ul>
                <li><a href="#cap1">Agumon</a>
                <li><a href="#cap2">Gabumon</a>
            </ul>
        </nav>
        <div>
            <div class="Titulo">
                    <h1>Linha Evolutiva dos Meus Digimon em Digimon Wolrd</h1>
            </div>

            <div class="Agumon">
                <a name="cap1">
                    <h2>Botamon e Koromon</h2>
                    <img id="img" src="https://repositorio.sbrauble.com/arquivos/up/ecom/prod/t/84391/1663046880_5242529.jpg" alt="Botamon e Kormon Card image" align="left" style="width:110px;" >
                    <p class="Alinha"> 
                        <br>
                        Um pequeno Digimon que derramou a penugem que cobria a sua superfície e cujo corpo ficou maior. 
                        Embora tenha se tornado capaz de se mover de forma mais ativa, ainda é incapaz de lutar. 
                        Ele pode criar <strong>Bolhas</strong> da sua boca para intimidar os seus inimigos
                    </p>
                </a>
            </div>

            <div class="Agumon">
                <h2>Agumon</h2>
                <p>
                    <img id="img" src="https://mypcards.com/img/9/1343/digimon_st1_03/digimon_st1_03_en.jpg" alt="Agumon Card image" align="left" style="width:110px;" >
                    <br>
                    Para atingir esse estado vc tem que deixa seu <strong>Koromon</strong> com o Offense como seu maior status, e 15kg ou mais para 
                    assim ele conseguir atingir essa nova forma que o <strong>Agumon</strong>, assim se tranformando num dinosauro amarelo com  
                    golpes de fogo, alem de ser estremamente um Digimon diurno.
                 </p>
            </div>

            <div class="Agumon">
                <h2>Greymon</h2>
                <p>
                    <img id="img" src="https://mypcards.com/img/9/1351/digimon_p_010/digimon_p_010_en.jpg" alt="Greymon Card image" align="left" style="width:110px;" >
                    <br>
                    Agora apos um tempo de jogo, e de treino, você talvez conseguira atingir os status para o <strong>Greymon</strong>
                    assim com sua forma anteriror o <strong>Agumon</strong>, ele tambem se assemelha a um dinosauro amarelo, so que
                    bem maior agora, capacete de cranio em sua cabeça, para conseguir atingir essa forma seu Digimon deve esta com 100 
                    no mínimo em todos seus status, alem de ter pelo menos 30kg.
                 </p>
            </div>

            <div class="Agumon">
                <h2>MetalGreymon</h2>
                <p>
                    <img id="img" src="https://mypcards.com/img/9/1343/digimon_st1_09/digimon_st1_09_en.jpg" alt="MetalGreymon Card image" align="left" style="width:110px;" >
                    <br>
                    Um <strong>MetalGreymon</strong> pleno, contudo, é um Digimon Ciborgue superior em poder que resulta da evolução bem sucedida de um <strong>Greymon</strong>,
                    ainda se mantendo na pegada de Dinosauro Amarelo, agora ele ganha partes roboticas em todo seu corpo, com uma capacidade de destruição
                    bem maior, para atingir essa nova forma, você deve deixa seu digimon com 4000 de HP, 500 em todos seus status,
                    e pelo menos 65kg.
                 </p>
            </div>

            <div class="Agumon">
                <h2>SkullGreymon</h2>
                <p>
                    <img id="img" src="https://cdn.chaoscards.co.uk/uploads/prod_img/2_172350_e.png?v=1613649519" alt="SkullGreymon Card image" align="left" style="width:110px;" >
                    <br>
                    <strong>Skullgreymon</strong> é um digimon esqueleto cujo nome e design são derivados de <strong>Greymon</strong>.
                    Seu corpo inteiro émais que ossos. Foi um <strong>Greymon</strong>> que colocaram muita importancia na batalha, e como 
                    resultado, ele só combate por instinto, tornando se <strong>Skullgreymon</strong>. para atingir essa forma você tera 
                 </p>
            </div>

            <div class="Gabumon">
                <a name="cap2">
                <h2>Gabumon</h2>
                <p>
                    <img id="img" src="https://mypcards.com/img/9/1626/digimon_st8_02/digimon_st8_02_en.jpg" alt="Gabumon Card image" align="left" style="width:110px;" >
                    <br>
                    Outra escolha que você poder ter e o <strong>Gabumon</strong> um digimon semelhante a um lobo, com uma pele por cima
                    sendo um digimon Noturno com habilidades de gelo, ele tambem e uma outra boa escolha, para alcançar ele, e com o <strong>Koromon</strong>
                    so que focando em sua Defesa e sua Velocidade, e ter os 15kg
                 </p>
                </a>
            </div>

        </div>
        
        <footer>
            <p>
                Site Criado por Mateus Diniz Ferreria Bolzam
            </p>
        </footer>

    </body>
</html>

