{% extends "base.html" %}
{%load static%}
<!doctype html>
<html lang="br">
<head>
  <meta charset="utf-8">
  <title>Calculadora</title>

</head>
<body>
  {% block body_block  %}
  <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="row justify-content-center">

      <input type="text" class="form-control" id="tela" style="width: 80%;" disabled>

    <div class="row justify-content-center mt-4">
      <div class="col-2">
        <button type="btn" class="btn btn-primary btn-lg" style="width: 100%;" onclick="numero('7')">7</button>
      </div>
      <div class="col-2">
        <button type="btn" class="btn btn-primary btn-lg" style="width: 100%;" onclick="numero('8')">8</button>
      </div>
      <div class="col-2">
        <button type="btn" class="btn btn-primary btn-lg" style="width: 100%;" onclick="numero('9')">9</button>
      </div>
      <div class="col-2">
        <button type="btn" class="btn btn-primary btn-lg" style="width: 100%;" onclick="operador('/')">/</button>
      </div>
      <div class="col-2">
        <button type="btn" class="btn btn-primary btn-lg" style="width: 100%;" onclick="mudaSinal()">+/-</button>
      </div> 
    </div>

    <div class="row justify-content-center mt-4">
      <div class="col-2">
        <button type="btn" class="btn btn-primary btn-lg" style="width: 100%;" onclick="numero('4')">4</button>
      </div>
      <div class="col-2">
        <button type="btn" class="btn btn-primary btn-lg" style="width: 100%;" onclick="numero('5')">5</button>
      </div>
      <div class="col-2">
        <button type="btn" class="btn btn-primary btn-lg" style="width: 100%;" onclick="numero('6')">6</button>
      </div>
      <div class="col-2">
        <button type="btn" class="btn btn-primary btn-lg" style="width: 100%;" onclick="operador('*')">*</button>
      </div>
      <div class="col-2">
        <button type="btn" class="btn btn-primary btn-lg" style="width: 100%;" onclick="decimal()">.</button>
      </div>
    </div>

    <div class="row justify-content-center mt-4">
      <div class="col-2">
        <button type="btn" class="btn btn-primary btn-lg" style="width: 100%;" onclick="numero('1')">1</button>
      </div>
      <div class="col-2">
        <button type="btn" class="btn btn-primary btn-lg" style="width: 100%;" onclick="numero('2')">2</button>
      </div>
      <div class="col-2">
        <button type="btn" class="btn btn-primary btn-lg" style="width: 100%;" onclick="numero('3')">3</button>
      </div>
      <div class="col-2">
        <button type="btn" class="btn btn-primary btn-lg" style="width: 100%;" onclick="operador('-')">-</button>
      </div>
      <div class="col-2">
        <button type="btn" class="btn btn-primary btn-lg" style="width: 100%;" onclick="operador('+')">+</button>
      </div>
    </div>

    <div class="row justify-content-center mt-4">
        <div class="col-2">
          <button type="btn" class="btn btn-primary btn-lg" style="width: 100%;" onclick="numero('0')">0</button>
        </div>
        <div class="col-2">
          <button type="btn" class="btn btn-primary btn-lg" style="width: 100%;" onclick="limpaTela()">C</button>
        </div>
        <div class="col-6">
          <button type="btn" class="btn btn-primary btn-lg" style="width: 100%;" onclick="resultado()">=</button>
        </div>
      </div>
    </div>
  </div>
</div>
  {%endblock%}

  {% block script  %}
    <script src="{% static "calculadoraJS.js" %}"></script>
  {% endblock  %}
  
</body>