*{
    line-height: 1.6;
    margin: 0;
    padding: 0;
    font-family:'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

body{
    background-image: url("noise.png");
    background-color: rgba(179, 174, 174, 0.644);
}

nav{
    border-bottom: black solid;
    text-align: center;
    background-color: rgb(123, 125, 124);
    height: 50px;
    width: 100%;
    padding-top: 20px;
}

nav ul{
    display: flex;
    justify-content: center;
}

nav ul li{
    list-style-type: none;
    padding-right: 14px;
}

/* 
Essa parta do nav em deixa de forma horizontal foir meio complicado mais consegui achar algo sobre como colocar.
*/

.Titulo{
    text-align: center;
}

h2{
    text-align: center;
    text-decoration: underline;
}

img#img{
    padding: 10px;
}

.Agumon{
    text-align: left;
    height: 200px;
    width: 50%;
    background-color: orange;
    border-style: solid;
    border-color: black;
    padding: 20px;
    margin: 50px 350px 30px 350px;
    justify-content: center;
}

.Gabumon{
    text-align: left;
    height: 200px;
    width: 50%;
    background-color: lightblue;
    border-style: solid;
    border-color: black;
    padding: 20px;
    margin: 50px 350px 30px 350px;
    justify-content: center;
}

footer{
    text-align: center;
    background-color: rgb(123, 125, 124);
    border-top: black solid;
}


/* 


*/